{% extends 'base.html' %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: 20px;margin-bottom: 15px">
                <h2>
                    {{ item.name }}
                </h2>
            </div>
            <div class="col-md-12">
                <figure class="figure">
                    <img src="{{ item.img }}" class="figure-img img-fluid rounded" alt="{{ item.name }}">
                </figure>
                <div align="justify" class="col-md-6" style="margin-top: 20px">
                    <p class="text-start">{{ item.description }}</p>
                </div>
            </div>
            <div class="col-md-4" style="margin-bottom: 40px">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Warenkorb legen</a>
                    <a href="#" class="btn btn-primary">Einkaufen fortfahren</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}